.chapter-container {
  width: 320px;
  border-right: 1px solid rgba(0,0,0,.06);
  padding: 8px 16px 0 8px;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-grow: 0;
}

.chapter-item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chapter-category {
  font-size: 13px;
  border-bottom: 1px solid rgba(0,0,0,.06);
  padding: 8px 16px 8px 0;
  box-sizing: border-box;
  color: #00000073;
  margin: 0 0 16px 0;
}

.chapter-title-box {
  box-sizing: border-box;
  padding: 10px 20px 10px 0;
  cursor: pointer;
}

.chapter-title-box:hover {
  color: #1890ff;

  .chapter-subtitle {
    color: #1890ff;
  }
}

.chapter-title {
  font-size: 14px;
}

.chapter-subtitle {
  font-size: 12px;
  color: #999999;
  margin-left: 6px;
}
.chapter-active {
  background-color: #e6f7ff;
  color: #1890ff;
}

.chapter-active .chapter-subtitle {
  color: #1890ff;
}