.not-found {
  width: 100%;
  height: calc(100vh - 64px - 66px - 8px - 60px);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;

   img {
     height: 100%;
     background-size: contain;
   }
}
